/*GENERAL/TEMPLATE STYLES*/
body{
	margin:0;
}
a, p, h1, h2, h3, h4, h5{
	font-family: "Lato",sans-serif;
	margin:0;
	color: #555555;
}
a{
	text-decoration:none;
}
ul{
	margin: 0;
    padding: 0;
}
li{
	list-style-type: none;
}

.backgroundContainer{
	width:100%;
	/*background-image:url(images/homepage/codeBackground.jpg);*/
	background-color: #bbbbbb;
	background-color: #b8ec79;
}
.responsiveContainer{
	height: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 1240px;
	position: relative;
}
.uppercase{
	text-transform:uppercase;
}

.floatLeft{
	float:left;
}
.floatRight{
	float:right;
}
.clearAll{
	clear:both;
}
.fontBold{
	font-weight:bold;
}
.doubleLineBorder{
	border-bottom: 4px double grey;
}
fullWidth{
	width:100%;
}

/*HEADER*/

.headerSection{
	background-color: #222;
	height:80px;
}
.headerHomeLinkSection{
	float: left;
	width: 300px;
	margin-left: 10px;
	margin-top: 3px;
}
.headerHomeLinkSection a{
	cursor: pointer;
}
.headerHomeLinkSection div{
	background-color: white;
    border-radius: 10px;
    height: 54px;
    padding-left: 5px;
    width: 69px;
	margin-top: 10px;
	margin-right: 10px;
	float: left;
}
.headerHomeLinkSection div img{
	margin-top: -5px;
}
.headerHomeLinkSection h1{
	color: white;
    font-family: "Lato",sans-serif;
    font-size: 1.1em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 15px;
    text-transform: uppercase;
}
.headerHomeLinkSection h2{
	color: white;
	font-size: 1em;
	font-family: "Lato",sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
}
.headerTopNavSection{
	float: right;
    height: 80px;
	width: 100%;
}
.headerTopNavSection ul{
	margin: 0;
}
.headerTopNavSection ul li{
	float: left;
    height: 80px;
	margin-right: 10px;
}
.headerTopNavSection ul li:hover a{
	border-bottom: 4px solid #b8ec79;
}
.headerTopNavSection ul li a{
	color: white;
    cursor: pointer;
    display: block;
    font-size: 16px;
    height: 16px;
    letter-spacing: 1px;
    padding: 30px 14px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
	text-decoration:none;
}
.headerTopNavSection ul li:last-child{
    margin-right: 30px;
}
.headerTopNavSection ul li:last-child a{
	padding-left: 15px;
    padding-right: 15px;
}

/*FOOTER*/
.footerSection{
	background-color: #222;
	padding-bottom: 30px;
    padding-top: 50px;
}
.footerLeftSection{
	float: left;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    width: 28%;
}
.footerLeftSection img{
}
.footerLeftSection p{
	color: white;
	text-align: left;
}
.footerCenterSection{
	float: left;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    width: 29%;
}
.footerCenterSection div{
	float: left;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
}
.footerCenterSection p{
	color: white;
	text-align: left;
}
.footerCenterSection img{
	float: left;
	margin-right: 15px;
}
.footerCenterSection a{
	color:#b8ec79;
	text-decoration:none;
}
.footerRightSection{
	float: left;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    width: 28%;
}
.footerRightSection div{
}
.footerRightSection a{
	clear: left;
    color: white;
    cursor: pointer;
    float: left;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
}
.footerCreditsSection{
	clear: left;
    color: white;
    padding-top: 20px;
    text-align: center;
}
.footerCreditsSection a{
	color: #b8ec79;
    text-decoration: none;
}
.footerCreditsSection a:hover{
	color:#b8ec79;
}


/*HOMEPAGE*/
.featuredSection{
	height:300px;
}
.featuredSection div.responsiveContainer div.cycle-slideshow{
	height: 225px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}
.cycle-overlay1{
	color: white;
	background: black;
	opacity: .8;
	filter: alpha(opacity=80);
	position: absolute;
	bottom: 0;
	width: 670px;
	padding: 15px;
}
.cycle-overlay1 p{
	text-align: center;
}
.cycle-overlay2{
	color: white;
	background: black;
	opacity: .8;
	filter: alpha(opacity=80);
	position: absolute;
	bottom: 0;
	width: 770px;
	padding: 15px;
}
.cycle-overlay2 p{
	text-align: center;
}
.cycle-overlay3{
	color: white;
	background: black;
	opacity: .8;
	filter: alpha(opacity=80);
	position: absolute;
	bottom: 0;
	width: 684px;
	padding: 15px;
}
.cycle-overlay3 p{
	text-align: center;
}
.pager{
	left: 250px;
    position: absolute;
    top: 187px;
    width: 50px;
    z-index: 100;
}
.pager span{
	cursor: pointer;
    font-size: 30px;
    margin-left: 5px;
    margin-right: 5px;
	color:white;
}
.pager span.cycle-pager-active{
	color:#96f226;
}

.mainNavigationSectionHome{
	height: 1870px;
}
.mainNavigationSection div.responsiveContainer{
	padding-left: 10px;
    width: 1230px;
}
.mainNavigationSection h3{
	font-size: 1.625em;
    font-weight: 900;
    text-align: left;
    text-transform: uppercase;
}

.mainNavigationSection div.ui-state-default{
	float: right;
    margin-right: 50px;
    width: 127px;
	cursor:pointer;
	position: relative;
	height: 16px;
}
.mainNavigationSection span.back-to-top{
	clear: none;
    display: block;
    float: left;
    line-height: 14px;
    margin-left: 5px;
	text-transform: uppercase;
	margin-left: 10px;
}
.navigationTab{
	border-bottom: 4px double grey;
    clear: both;
    float: left;
    height: 320px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    width: 1250px;
}
.navigationTab div.navigationIcon{
    float: left;
	width:320px;
	height: 320px;
	border-radius:10px;
	background-color:white;
}
.navigationTab:last-child{
}
.navigationTab p{
	font-size: 20px;
    text-align: center;
}
.navigationTab p:first-of-type{
	font-weight: bold;
}



/*HISTORY*/
.responsiveContainerHome h4{
	margin-top: 20px;
    padding-right: 10px;
	margin-bottom: 20px;
}
.mainNavigationSectionHistory{
	height: 2599px;
}
.historyWorkTab{
    clear: both;
    float: left;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
	width: 1250px;
}
.historyWorkTab p:first-child{
	border-bottom: 4px double grey;
	display: block;
	margin-bottom:10px;
}
.historyWorkTab div p:first-child{
	border:none;
}
.historyWorkTab div{
	float: left;
}
.historyWorkTab p:nth-child(2){
	float: left;
}
.historyWorkTab p:nth-child(3){
	margin-bottom:10px;
}
.historyWorkTab img{
	margin-left: 20px;
}
.historyWorkSection{
	float: left;
    width: 100%;
}
.historyEducationSection{
	clear: both;
    float: left;
    height: 375px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
	width: 1250px;
}


/*SHAKE ANIMATION EFFECT*/
.shake:hover,
.shake:focus {
  /* animation: name duration timing-function delay iteration-count direction; */
  animation: spaceboots 0.8s linear 0s infinite normal;
  -moz-animation: 0.8s linear 0s normal none infinite spaceboots;
  -webkit-animation: spaceboots 0.8s linear 0s infinite normal;
  transform-origin:50% 50%;
  -webkit-transform-origin:50% 50%;
  -ms-transform-origin:50% 50%; /* IE 9 */
}

@-webkit-keyframes spaceboots {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

@-moz-keyframes spaceboots {
	0% { -moz-transform: translate(2px, 1px) rotate(0deg); }
	10% { -moz-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -moz-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -moz-transform: translate(0px, 2px) rotate(0deg); }
	40% { -moz-transform: translate(1px, -1px) rotate(1deg); }
	50% { -moz-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -moz-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -moz-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -moz-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -moz-transform: translate(2px, 2px) rotate(0deg); }
	100% { -moz-transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes spaceboots {
	0% { transform: translate(2px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(0px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(2px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(2px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/*SWING ANIMATION EFFECT*/
.swing:hover, .swing:focus {
  -moz-animation: 1.5s ease 0s normal none infinite swing;
  -o-animation: 1.5s ease 0s normal none infinite swing;
  -ms-animation: 1.5s ease 0s normal none infinite swing;
/*  -webkit-animation: 1.5s ease 0s normal none infinite swing;*/
  -webkit-animation:swing 1.5s infinite ease-in-out;
  animation: 1.5s ease 0s normal none infinite swing;
  
  -moz-transform-origin: center top;
  -o-transform-origin: center top;
  -ms-transform-origin: center top;
  -webkit-transform-origin:top;
  transform-origin: center top;
}

@-moz-keyframes swing{
  0%{-moz-transform:skewX(7deg)}
  50%{-moz-transform:skewX(-7deg)}
  100%{-moz-transform:skewX(7deg)}
}
@-o-keyframes swing{
  0%{-o-transform:skewX(7deg)}
  50%{-o-transform:skewX(-7deg)}
  100%{-o-transform:skewX(7deg)}
}
@-ms-keyframes swing{
  0%{-ms-transform:skewX(7deg)}
  50%{-ms-transform:skewX(-7deg)}
  100%{-ms-transform:skewX(7deg)}
}
@-webkit-keyframes swing{
  0%{-webkit-transform:skewX(7deg)}
  50%{-webkit-transform:skewX(-7deg)}
  100%{-webkit-transform:skewX(7deg)}
}

@keyframes swing{
  0%{transform:skewX(7deg)}
  50%{transform:skewX(-7deg)}
  100%{transform:skewX(7deg)}
}










/*RESPONSIVE MEDIA QUERIES*/

@media screen and (min-width: 20px) { 
/*GENERAL/TEMPLATE STYLES*/
.responsiveContainer{
	width:320px;
}
/*HEADER*/
.headerHomeLinkSection{
}
.mainNavigationSectionHome{
	height:1920px;
}
.mainNavigationSection div.responsiveContainer{
	width:320px;
}
.mainNavigationSection h3{
  font-size: 1.625em;
  font-weight: 900;
  text-transform: uppercase;
}
.headerSection{
	height:249px;
}

.headerTopNavSection ul li{
	margin-right: 0;
}
.headerTopNavSection ul li a{
    font-size: 18px;
    padding: 40px 10px 33px;
}
.headerTopNavSection ul li:last-child{
	margin-right: 0;
}
.headerTopNavSection ul li:last-child a{
	padding-left: 10px;
    padding-right: 10px;
}
.headerHomeLinkSection h1{
	font-size: 1.1em;
    margin-top: 5px;
}
.headerHomeLinkSection h2{
	font-size: 0.9em;
}
.headerHomeLinkSection{
	height: 73px;
    margin-left: 45px;
    width: 245px;
}
.headerHomeLinkSection div{
	margin-top: 9px;
}
.headerTopNavSection{
	height: 173px;
}
.mainNavigationSection div.responsiveContainer{
	padding-left:0;
	
}
/*FOOTER*/
.footerLeftSection{
	width: 81%;
}
.footerCenterSection{
	width: 81%;
}
.footerRightSection{
	width: 81%;
}
/*HOMEPAGE*/
.navigationTab{
	width:310px;
	height: 330px;
}
.navigationTab p:last-of-type{
	display: none;
}
.mainNavigationSection div.ui-state-default{
	margin-right: 95px;
}
/*HISTORY*/
.mainNavigationSectionHistory{
	height: 4732px;
}
.historyWorkTab{
	width: 320px;
	padding-right:0;
	text-align: center;
}
.historyWorkTab div{
	margin-bottom: 20px;
    width: 100%;
}
.historyWorkTab img{
	display:none;
}
.historyWorkTab p:nth-child(2) {
	text-align:center;
	width: 100%;
}
.historyWorkTab p:nth-child(3){
	padding-left: 5px;
    padding-right: 5px;
	text-align: left;

}
.historyWorkTab p:nth-child(4) {
	margin-left: 5px;
    margin-right: 5px;
    text-align: left;
}
.historyEducationSection{
	height: 740px;
    padding-left: 5px;
    padding-right: 5px;
    width: 310px;
}
.historyEducationSection img{
	display:none;
}
.historyEducationSection div{
	margin-bottom:20px;
	text-align:center;
}
.historyEducationSection p:nth-child(4){
}
}
@media screen and (min-width: 480px) { 
/*GENERAL/TEMPLATE STYLES*/
.responsiveContainer{
	width:480px;
}
/*HEADER*/
.mainNavigationSectionHome{
	height:1870px;
}
.mainNavigationSection div.responsiveContainer{
	width:470px;
}
.mainNavigationSection h3{
}
.headerSection{
	height:160px;
}
.headerTopNavSection{
	height: 84px;
}
.headerTopNavSection ul li{
	margin-right: 0;
}
.headerTopNavSection ul li a{
    font-size: 14px;
    padding: 33px 7px 31px;
}
.headerTopNavSection ul li:last-child{
	margin-right: 0;
}
.headerTopNavSection ul li:last-child a{
	padding-left: 6px;
    padding-right: 7px;
}
.headerHomeLinkSection h1{
	font-size: 1.1em;
    margin-top: 15px;
}
.headerHomeLinkSection h2{
	font-size: 0.9em;
}
.headerHomeLinkSection{
	width: 300px;
	height: 73px;
    margin-left: 45px;
}
/*FOOTER*/
/*HOMEPAGE*/
.navigationTab{
	width:450px;
	height: 320px;
}
.mainNavigationSection div.responsiveContainer{
	padding-left: 10px;
}
.navigationTab p:last-of-type{
	display:block;
}
.mainNavigationSection div.ui-state-default{
	margin-right:50px;
}
/*HISTORY*/
.mainNavigationSectionHistory{
	height: 3659px;
}
.historyWorkTab div{
	margin-bottom: 0;
    width: auto;
}
.historyWorkTab img{
	display:block;
}
.historyWorkTab p:nth-child(2) {
	text-align:left;
}
.historyWorkTab p:nth-child(3){
	padding-left: 0;
    padding-right: 0;
}
.historyWorkTab p:nth-child(4) {
	margin-left: 0;
    margin-right: 0;
}
.historyWorkTab{
	width: 460px;
	padding-right:10px;
	text-align: left;
}
.historyEducationSection{
	width: 460px;
	height: 555px;
	padding-right: 10px;
	padding-left:0;
}
.historyEducationSection div{
	text-align:left;
}
}
@media screen and (min-width: 640px) { 
/*GENERAL/TEMPLATE STYLES*/
.responsiveContainer{
	width:600px;
}
/*HEADER*/
.mainNavigationSection div.responsiveContainer{
	width:590px;
}
.headerSection{
	height:80px;
}
.headerTopNavSection{
	height: 80px;
	width:430px;
}
.headerTopNavSection ul li{
	margin-right: 0;
}
.headerTopNavSection ul li a{
    font-size: 12px;
    height: 16px;
    padding: 33px 7px 27px;
}
.headerTopNavSection ul li:last-child{
	margin-right: 14px;
}
.headerTopNavSection ul li:last-child a{
	padding-left: 6px;
    padding-right: 6px;
}
.headerIconBackgroundCont{
	display:none;
}
.headerHomeLinkSection h1{
	font-size: 0.8em;
}
.headerHomeLinkSection h2{
	font-size: 0.8em;
}
.headerHomeLinkSection{
	width: 160px;
	margin-left:10px;
}
/*FOOTER*/
/*HOMEPAGE*/
.navigationTab{
	width:570px;
}
/*HISTORY*/
.mainNavigationSectionHistory{
	height: 3126px;
}
.historyWorkTab{
	width: 580px;
}
.historyEducationSection{
	width: 580px;
	height: 472px;
}
}
@media screen and (min-width: 800px) { 
/*GENERAL/TEMPLATE STYLES*/
.responsiveContainer{
	width:800px;
}
/*HEADER*/
.mainNavigationSection div.responsiveContainer{
	width:790px;
}
.headerIconBackgroundCont{
	display:block;
}
.headerTopNavSection{
	width: 580px;
}
.headerTopNavSection ul li{
	margin-right: 5px;
}
.headerTopNavSection ul li a{
    font-size: 16px;
    height: 16px;
    padding: 33px 10px 27px;
}
.headerTopNavSection ul li:last-child{
	margin-right: 5px;
}
.headerTopNavSection ul li:last-child a{
	padding-left: 8px;
    padding-right: 7px;
}
.headerHomeLinkSection{
	width: 210px;
}
/*FOOTER*/
.footerLeftSection{
	width: 25%;
}
.footerCenterSection{
	width: 25%;
}
.footerRightSection{
	width: 25%;
}
/*HOMEPAGE*/
.navigationTab{
	width:770px;
}
/*HISTORY*/
.mainNavigationSectionHistory{
	height: 2609px;
}
.historyWorkTab{
	width: 780px;
}
.historyEducationSection{
	width: 780px;
	height: 375px;
}
}
@media screen and (min-width: 1024px) { 
/*GENERAL/TEMPLATE STYLES*/
.responsiveContainer{
	width: 1024px; 
}
/*HEADER*/
.mainNavigationSection div.responsiveContainer{
	width:1014px;
}
.headerTopNavSection{
    height: 80px;
	width: 630px;
}
.headerTopNavSection ul{
	margin: 0;
}
.headerTopNavSection ul li{
    height: 80px;
	margin-right: 10px;
}
.headerTopNavSection ul li a{
    font-size: 16px;
    height: 16px;
    letter-spacing: 1px;
    padding: 30px 10px;
}
.headerTopNavSection ul li:last-child{
    margin-right: 30px;
}
.headerTopNavSection ul li:last-child a{
	padding-left: 15px;
    padding-right: 15px;
}
/*FOOTER*/
.footerLeftSection{
	width: 27%;
}
.footerCenterSection{
	width: 28%;
}
.footerRightSection{
	width: 27%;
}
/*HOMEPAGE*/
.navigationTab{
	width:994px;
}
/*HISTORY*/
.mainNavigationSectionHistory{
	height: 2378px;
}
.historyEducationSection img{
	display:block;
}
.historyEducationSection div{
	margin-bottom:0;
}
.historyWorkTab{
	width: 1004px;
}
.historyEducationSection{
	height: 404px;
    width: 1004px;
}
}
@media screen and (min-width: 1280px) {
	/*GENERAL/TEMPLATE STYLES*/
.responsiveContainer{
	width: 1280px; 
}
/*HEADER*/
.mainNavigationSection div.responsiveContainer{
	width:1270px;
}
.headerTopNavSection{
    height: 80px;
	width: 662px;
}
.headerTopNavSection ul{
	margin: 0;
}
.headerTopNavSection ul li{
    height: 80px;
	margin-right: 10px;
}
.headerTopNavSection ul li a{
    font-size: 16px;
    height: 16px;
    letter-spacing: 1px;
    padding: 30px 14px;
}
.headerTopNavSection ul li:last-child{
    margin-right: 30px;
}
.headerTopNavSection ul li:last-child a{
	padding-left: 15px;
    padding-right: 15px;
}
/*FOOTER*/
.footerLeftSection{
	width: 28%;
}
.footerCenterSection{
	width: 29%;
}
.footerRightSection{
	width: 28%;
}
/*HOMEPAGE*/
.navigationTab{
	width:1250px;
}
/*HISTORY*/
.mainNavigationSectionHistory {
    height: 2169px;
}
.historyWorkTab{
	width: 1260px;
}
.historyEducationSection{
	width: 1260px;
	height: 375px;
}
}
