<div class="footerSection">
    <div class="responsiveContainer">
        <div class="footerLeftSection">
            <div>
                <img />
            </div>
            <p>A graduate in computer information systems, Clinton combines his education with 2 years professional experience CSS3, HTML5, Javascript, Jquery, and various other web technologies to produce functional and responsively sound next generation single page appsites.</p>
        </div>
        <div class="footerCenterSection">
            <div>
                <a target="_blank" href="https://github.com/clintoncontreras"><img src="images/footer/GitHub.png" /></a>
                <p>View <a target="_blank" href="https://github.com/clintoncontreras">clintoncontreras</a> on github to see specific contributions and previous project source code.</p>
            </div>
            <div>
                <a target="_blank" href="https://www.linkedin.com/pub/clinton-contreras/57/25a/6ab"><img src="images/footer/linkedin1.png" /></a>
                <p>Follow <a target="_blank" href="https://www.linkedin.com/pub/clinton-contreras/57/25a/6ab">Clinton Contreras</a> on LinkedIn.</p>
            </div>
            <div>
                <p>If you are interested in contacting Clinton, feel free to contact him through the following methods:</p><br>

                <p>email: <a target="_blank" href="mailto:clinton.contreras@yahoo.com">clinton.contreras@yahoo.com</a></p>
                <p>phone: (951)213-1008</p>
            </div>
        </div>
        <div class="footerRightSection">
            <div><a class="uppercase" href="#/history">History</a></div>
            <div><a class="uppercase">Skills</a></div>
            <div><a class="uppercase" href="#/projects">Projects</a></div>
            <div><a class="uppercase" href="#/testimonials">Testimonials</a></div>
            <div><a class="uppercase" href="#/references">References</a></div>
        </div>
        <div class="footerCreditsSection">
            <p>Powered by:</p><img src="../images/footer/AngularJS.png" />
            <p>Version 0.11</p>
        </div>
    </div>
</div>
