<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div id="headerSection" class="headerSection">
    	<div class="responsiveContainer">
        	<div class="headerHomeLinkSection">
            	<a href="index.html">
                    <div class="headerIconBackgroundCont">
                        <img class="animated rubberBand" src="images/header/logo.png" />
                    </div>
                    <h1>Clinton Contreras</h1>
                    <h2> Front End Developer</h2>
                </a>
            </div>
            <div class="headerTopNavSection">
            	<ul>
                	<li><a href="history.html">History</a></li>
                    <li><a>Skills</a></li>
                    <li><a href="prevprojects.html">Projects</a></li>
                    <li><a href="testimonials.html">Testimonials</a></li>
                    <li><a href="references.html">References</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>