<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div id="headerSection" class="headerSection">
    	<div class="responsiveContainer">
        	<div class="headerHomeLinkSection">
            	<a href="#/">
                    <div class="headerIconBackgroundCont">
                        <img class="animated rubberBand" src="images/header/logo.png" />
                    </div>
                    <h1>Clinton Contreras</h1>
                    <h2> Front End Developer</h2>
                </a>
            </div>
            <div class="headerTopNavSection">
            	<ul>
                	<li><a href="#/history">History</a></li>
                    <li><a>Skills</a></li>
                    <li><a href="#/projects">Projects</a></li>
                    <li><a href="#/testimonials">Testimonials</a></li>
                    <li><a href="#/references">References</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<script>
//HEADER NAV LINK ANIMATION
$('.headerTopNavSection ul li a').on({
	mouseenter: function () {
		$(this).animate({color:'#b8ec79'},500);
	},
	mouseleave: function () {
		$(this).animate({color:'#FFFFFF'},500);
	} 
});
</script>