<div class="mainNavigationSection mainNavigationSectionHome">
    	<div class="responsiveContainer" style="background-color:rgba(255,255,255,1);">
        	<h3>Portfolio</h3>
            <div class="navigationTab">
            	<div class="navigationIcon" style="background-image:url(images/homepage/categories/projectbackground.png);"> 
                	<a href="#/projects"><img style="margin-left: 8px; margin-top: 15px;" class="shake" src="images/homepage/categories/projects.png" alt="previous projects"/></a>
                </div>
                <p>Previous Projects</p>
                <p>See some of Clinton's previous projects.</p>
            </div>
            <div class="navigationTab">
            	<div class="navigationIcon" style="background-color:#ffffff;">
                	<div class="homeComingSoon"><p>Coming Soon!</p></div>
                    <img style="margin-left: 10px; margin-top: 65px;" class="shake" src="images/homepage/categories/skills.png" alt="skills" />
                </div>
                <p>Code Lab</p>
                <p>Some interactable examples demonstrating some of the neat features Clinton has been able to work on.</p>
            </div>
            <div class="navigationTab">
            	<div class="navigationIcon">
                	<a href="#/testimonials"><img style="margin-left: 35px; margin-top: 10px;" class="shake" src="images/homepage/categories/testimonials.png" alt="testimonials" /></a>
                </div>
                <p>Client Testimonials</p>
                <p>Hear what Clinton's previous clients have to say about him.</p>
            </div>
            <div class="navigationTab">
            	<div class="navigationIcon">
                	<a href="#/history"><img style="margin-left: 10px; margin-top: 10px;" class="shake" src="images/homepage/categories/history.png" alt="history" /></a>
                </div>
                <p>Work History and Education</p>
                <p>Find out what Clinton has been up to in his professional career.</p>
            </div>
            <div class="navigationTab">
            	<div class="navigationIcon" style="background-color:##ffffff;">
                	<a href="#/references"><img style="margin-left: 30px; margin-top: 32px;" class="shake" src="images/homepage/categories/references.png" alt="references" /></a>
                </div>
                <p>References</p>
                <p>Find out what Clinton's co-workers and supervisors think about him.</p>
            </div>
            <!--<div class="ui-state-default ui-corner-all"><a $("body").animate({scrollTop: 0, 500);><span class="back-to-top">Back to Top</span></a></div>-->
        </div>
    </div>
</div>
<script>
//BACK TO TOP BUTTON LINK ANIMATION
$('.mainNavigationSection div.ui-state-default').on({
	mouseenter: function () {
		$(".mainNavigationSection span.back-to-top").animate({color:'#9fda58'},500);
	},
	mouseleave: function () {
		$(".mainNavigationSection span.back-to-top").animate({color:'#b8ec79'},500);
	} 
});
</script>
