<div class="mainNavigationSection mainNavigationSectionReferences">
    	<div class="responsiveContainer">
            <br />
            <h3>REFERENCES</h3>
            <div class="referenceSection">
                <h4>BRIAN HORAKH - CEO, Zoovy Inc.</h4><br />
                <p>To Whom It May Concern, </p> 
                <p>Mr. Contreras was employed with 
                our firm for approximately 2 years.  His termination was due to a company wide reduction in 
                force and in no way reflected upon his work ethic, skills, or any negative performance on his 
                part.
                </p><br />
                <p>During his tenure with our organization Clinton was a diligent employee, who 
                demonstrated exceptional concern and ability to resolve customer issues. He was well liked 
                by all his co­workers and our clients, and conducted himself with professionalism with both 
                clients and peers even under very stressful circumstances.   He would work additional hours 
                whenever asked and had an outstanding attendance record.  In addition his communication 
                skills with our clients was extremely patient and polite.
                </p><br/>
                <p>Clinton was known for resolving any issue which was within his skillset and for 
                thoroughly vetting issues before escalating them. I would not hesitate to hire Clinton again, 
                and I am confident that if given the opportunity he will be an important contributor for any 
                organization.  I sincerely regret losing such a valuable member of our team.
                </p><br />
                <p>Sincerely,</p>
                <p>Brian Horakh</p>
                <p>CEO Zoovy, Inc.</p>
                <br />
                
                <a href="references/ClintonContrerasRecommendationLetter-signed.pdf" target="_blank">Click Here to see the PDF version of this recommendation</a>
            </div><br /><br /><br /><br />
            <div class="referenceSection">
                <h3>WEB DEVELOPER CONTACTS</h3><br />
                <h4>Brian Horakh - CEO, Zoovy Inc.</h4>
                <p>Phone: (760) 419-9953</p>
                <p>Email: bhorakh@anycommerce.com</p><br />
                
                <h4>Ryan Murray - Web Developer, Zoovy Inc.</h4>
                <p>Phone: (951) 226-4952</p>
                <p>Email: rmurray3420@yahoo.com</p><br /><br />
                
                
                <h3>US NAVY CONTACTS</h3><br />
                <h4>Corey Kincaid - LPO(Head Supervisor), AE1(AW), US Navy</h4>
                <p>Address: 2196 Cr 443 Waelder, Tx. 78959</p>
                <p>Phone: 830-857-5077</p><br />
    
                <h4>Denise Washington - Night Check Supervisor - Ensign, US Navy</h4>
                <p>Phone: (559) 410-3068</p>
                <p>Email: Niseywashington@yahoo.com</p>
            </div>
            <br /><br />
        </div>
    </div>
    <script>
		//REFERENCES PAGE COLOR HOVER ANIMATION
		$('.mainNavigationSectionReferences a').on({
			mouseenter: function () {
				$(this).animate({color:'#b8ec79'},500);
			},
			mouseleave: function () {
				$(this).animate({color:'#9fda58'},500);
			} 
		});
	</script>