<div class="mainNavigationSection mainNavigationSectionTestimonials">
    <div class="responsiveContainer">
        <br />
        <h3>TESTIMONIALS</h3>
        <div class="TestimonialsSection">
            <img src="images/projects/chesslogo.png" />
            <h4>Jeff Myers - President, The Chess Store/thechessstore.com</h4><br />
            <p>Clinton was the main developer in creating our new app site. This included every phase of the project from the layout and design of the various pages to special features and 
            functionality that Clinton suggested. For 2 years Clinton provided daily support for our site making changes we asked for along with technical maintenance. We always received 
            fast, thorough, and accurate work plus ideas on how to improve our site and the visitor's experience. Clinton played a huge part in our successful transition from a standard html 
            web site to our new app site and I highly recommend him.</p>
            <br />
            <p>Jeff Myers</p>
            <p>President</p>
            <p>The Chess Store</p>s
            
        </div>
        <div class="TestimonialsSection">
            <img src="images/projects/formalslogo.png" />
            <h4>Stephen Winston - President, Online Formals/onlineformals.com</h4><br />
            <p>I wanted to take this opportunity to personally recommend Clinton Contreras for future employment opportunities.
            I was fortunate enough to work with Clinton through the migration of our website www.onlineformals.com.   
            Through the entire process Clinton was there for support and direction.  He extended himself above and beyond the normal responsibility of any employee and took it upon himself to make sure things were handled professionally and with precise attention to detail.
            Clinton is an extra hard worker and is passionate about his work.  He is respectful, considerate and not afraid to go the extra mile for his client.
            Even when things were not in his control – Clinton made sure we were informed and took it upon himself to make things right.
            Without reservation, I would strongly recommend Clinton for future employment opportunities.
            Should you need to speak with me direct regarding Clinton please feel free to contact me at 888-280-4179.</p>
            <br />
            <p>Sincerely,</p>
            <p>Stephen Winston</p>
            <p>President</p>
            <p>Online Formals</p>
            <br/>
            <br/>
            <<a target="_blank" href="references/Clinton_Stephen_OnlineFormals.pdf">Click here to view as PDF</a>
            
        </div><br /><br /><br/>
    </div>
</div>

<script>
	//REFERENCES PAGE COLOR HOVER ANIMATION
	$('.mainNavigationSectionTestimonials a').on({
		mouseenter: function () {
			$(this).animate({color:'#b8ec79'},500);
		},
		mouseleave: function () {
			$(this).animate({color:'#9fda58'},500);
		} 
	});
</script>