/* Itasca CSS styles */
/* reset */
	ul   {margin: 0; padding: 0; /*list-style-type: none;*/}
/* wrapper styling */
	body, html {	
		background-image:url(./img/top-nav-back.png); background-repeat:repeat-x;
		font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
		font-size: 12px;
		color: #000;
		margin: 0; 
		padding: 0;
		font-size: 100%;
		}
	#wrapper {margin: 0 auto;
		width: 1000px;
		
		}
	a {
	text-decoration: underline;
	color: #000;
	}
/*	a:hover {text-decoration: underline;} */

	p {}
	
#appPreView {padding-top:200px;}
#previewWrap {border:1px solid #66b4c9;border-radius:5px;padding:20px;}
#previewWrap table tr td h3{margin-top:30px;}

.clearBoth {clear:both;font-size:2px;}
	
header {position: relative;}	
	#topNav  {/*float: right; margin:8px 0;*/padding:10px 0; margin-bottom:8px;}
	#topNav ul {float:right;}
	#topNav li  {float: left; display: inline; color: #fff; }
	#topNav li a {color: #fff; padding: 5px 15px; font-size: 15px; text-transform: uppercase; text-decoration:none;}
	
	#midNavLinks {float: right; margin:8px 15px; clear: right; }
	#midNavLinks li  {float: left; display: inline; padding: 0 4px;}
	#midNavLinks li a  {text-decoration:none;}
	
	.helpCare  {float: right; margin-top: 17px; text-transform: uppercase;font-size: 13px;}
	
	#logo img {float:left;}
	
	#headerSearchFrm  {margin: 15px;}
	#headerSearchFrm  { float: right; clear: right;}
	.productSearchKeyword  { width: 296px;}
	
	#mainNav    {float: right; margin:8px 0; }
	#mainNav  li  {float: left; display: inline; font-size: 12px; text-transform: uppercase; border-right:1px solid #000}
	#mainNav li a {display:block; padding: 0 8px;text-decoration:none;}
	#mainNav li.last {border-right:0;}
	/*#mainNav  li a {font-size: 13px; text-transform: uppercase;}*/
	#mainNav ul.child_menu {padding-top:4px;background-color:#FFF; display:none;z-index:10001;float:left;position:absolute;    box-shadow:0 4px 3px 0 #999999;
    -moz-box-shadow:0 4px 3px 0 #999999;
    -ms-box-shadow:0 4px 3px 0 #999999;
    -o-box-shadow:0 4px 3px 0 #999999;
    -webkit-box-shadow:0 4px 3px 0 #999999;
    -khtml-box-shadow:0 4px 3px 0 #999999;
	min-width:120px;}
	#mainNav .child_menu li {float:none; display:block;border-right:none;padding:3px 3px 3px 5px;}
	#mainNav .child_menu a:hover {background-color:#04B5CB; color:#FFFFFF;}
	#mainNav ul li:hover ul.child_menu {display:block !important;}
	
	#mainContentArea  {/*padding: 20px;*/} 
	#slideshowContainer {
		width:1000px;
		height:376px;
	}
	ul#wideSlideshow {list-style-type: none; z-index:0;}
	.homeBanners {margin:10px 0;height:244px;}
	.homeBanners img {float:left;margin-right:9px;}
	.homeBanners .lastBann {margin:0;}
	.listStyleNone  li  { /*width: 207px;*/ 
		border: 1px solid #695649;
		-webkit-box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.75);
		-moz-box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.75);
		box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.75);
}
	.breadcrumb li:last-child a {
		color:#000000; 
		text-decoration:underline; 
		font-weight:normal; 
		cursor:pointer;
	}

	.categoryTemplate .breadcrumb li:last-child a {
		color:#666666; 
		text-decoration:none; 
		font-weight:bold; 
		cursor:text;
	}
	.categoryList li, .productList li {
		padding:10px 5px 0 10px;
		height:215px;
	}
	
	.productList li .prodInfoMinHeight {
		min-height:176px;
	}
	.slideMe li {border:none; box-shadow:none;padding:0; -moz-box-shadow:none;-webkit-box-shadow:none;}
	.sideline a {padding:5px 10px;}
	.resultsMenuContainer li {
		height:auto;
		border:none;
		box-shadow:none;
		float:none;
	}
	.resultsMenuContainer ul li ul {
		width:4em;
	}

.prodViewerContainer h1 {font-size:1.625em;}
.tabbedProductContent div.ui-widget-content div.tabContent  {font-size:0.824em;}

#cartStuffList {width:95%;}
#modalCart {z-index:2000;}

.checkoutButtonsContainer .checkoutButton, #addToCartBtn {border:1px solid #9c947c;background:#04b5cb url(img/ui-bg_gloss-wave_30_04b5cb_500x100.png) 50% 50% repeat-x;font-weight:bold;color:#4d3420; padding-top: 6px; height: 31px;}

.editEnabled {
	width:auto;
	min-width:200px;
} /* overriding the app-quickstart.css declarations for aesthetics; otherwise input fields push past borders */

#customerNav .listStyleNone li {
	box-shadow: none;
	border-width: 0 1px 1px 1px;
}
#customerNav .listStyleNone li:first-child {
	box-shadow:none;
	border-width:1px;
}
hr.hr {
    background-color: #808080;
    height: 1px;
    margin: 0 auto 15px;
    width: 965px;
	clear: both;
}

#content {clear:both;}
.tabContent ul {
	padding: 0 0 0 30px;
}
.tabContent ul li {
	padding: 3px 0;
}
footer  { margin: 10px 0 20px;background: url("./img/footer-back-2.jpg") no-repeat; color: #fff; width: 1000px; height: 326px;clear:both;}
.signUp {
width:272px;
float:left;
padding: 15px 30px 25px;
}
.signUp form {padding:15px 25px 10px 30px;background: url("img/form-arrow.png") no-repeat scroll 0 25px transparent;}
.signUp p {font-size:12px;line-height:1.1em;}
.signUp a {color:#FFFFFF;}
.signUp .userInfo {padding:0;}
.signUp input#subscribeLogin,.signUp input#subscribeFullname {
    margin-bottom: 5px;
    padding: 3px;
}
.signUp input.ui-button {
	float:right;
	margin-right:10px;
}
#footerLinkBox {
	background: #04B5CB;
	width:632px;
	float:left;
	padding:10px 18px 30px;
	margin-bottom:15px;
}
/*#footerLinkBox a {color:#FFFFFF;}*/
.linkGroup {float:left;margin-right:35px;}
.lastLinkGroup {float:left;}

.footerLinks {overflow: hidden;list-style-type: none; /*margin:20px 0 45px 22px;*/ font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;}
.footerLinks h4 {font-size: 24px;margin-bottom:15px;}
.footerLinks  a {color: #fff; text-decoration:none;}
/*.footerLinks li {float: left;  width: 243px;}*/
.footerLinks li li {float: none; display: block; padding-top:10px;  }
.footerLinks li li a {font-size: 16px;}
.footerCopy {padding-left:25px;font-size:12px;}
.footerCopy a {color:#FFF;}

.thumbnailsContainer{
	float:left;
}
.prodViewerAddToCartForm fieldset{
	margin: 0;
    padding: 0;
}
.prodViewerAddToCartForm{
	float: left;
    margin-bottom: 10px;
    width: 480px;
}
.prodSummaryContainer{
	position:relative;
}
.prodThumbsPP{
	border-left: 3px solid #04B5CB;
    border-right: 3px solid #04B5CB;
    float: left;
    height: 340px !important;
    left: 0 !important;
    padding-left: 10px;
    top: 40px;
    width: 110px !important;
}
.prodThumbsPP li{
	clear:left;
}
.prodImgContainer{
	height: 340px;
    margin-top: 0 !important;
    position: relative;
    width: 100px;
}
.prodImgContainer div.caroufredsel_wrapper{
	margin-top: 20px !important;
}
.caroPrev1{
	cursor: pointer;
    height: 20px;
    left: 0;
    position: absolute;
   	top:0;
    width: 100px;
}
.caroNext1{
	bottom: 0;
    cursor: pointer;
    height: 20px;
    left: 0;
    position: absolute;
    width: 100px;
}
.select2Buttons{
}
.select-buttons{
}
.select2Buttons strong {
  display: block;
  clear: left;
  padding-top: 5px;
}

.select2Buttons ul {
  list-style-type: none;
  margin: 5px;
  padding: 0;
}

.select2Buttons li, .select2Buttons a {
  float: left;
  min-width: 37px;
}

.select2Buttons li { 
  margin: 0 5px 5px 0; 
}

.select2Buttons li a, 
.select2Buttons .limited a, 
.select2Buttons .disabled {
  border: 1px solid black;
  -moz-border-radius: 3px; 
  -webkit-border-radius: 3px; 
}

.select2Buttons li:last-child { 
  margin-right: 0; 
}

.select2Buttons a {
  color: black;
  padding: 4px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;  
  border-radius: 5px;
}

.select2Buttons .disabled span {
  padding: 4px;
  display: block;
  font-size: 15px;
  min-width: 37px;
}

.select2Buttons a:hover, 
.select2Buttons .picked {
  background: black;
  border-color: black;
  color: #FFF;    
  text-decoration: none;
}

.select2Buttons .limited a, 
.select2Buttons .disabled {
  text-align: center;
}

.select2Buttons .disabled {
  border: 1px solid #d1d1d1;
  color: #999;
}

.select2Buttons .disabled .picked {
  background: #d1d1d1;
  border-color: #d1d1d1;
  color: #FFF;
}
.varItems div{
	float:left;
	clear:left;
}
#addToCartBtn{
	margin-left:0;
	float:left;
}
.CRMButtonMenu{
	margin-left:120px;
}
.shoeSize div.select2Buttons ul.select-buttons li:first-child{
	display:none;
}
.CRMButtonMenu button{
	background: url("img/ui-bg_gloss-wave_30_04b5cb_500x100.png") repeat-x scroll 50% 50% #04B5CB;
    border: 1px solid #9C947C;
    border-radius: 4px 4px 4px 4px;
    color: #4D3420;
    font-weight: bold;
    height: 31px;
    line-height: 0;
    padding-top: 0;
    width: 130px;
}
.skuMfg{
	clear: left;
    float: left;
}
.imageContainer{
	width:30%;
}
.CustomInstructInput{
	display:none;
}
.customInst{
	border: thin solid black;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
    padding: 3px 10px;
    text-decoration: none;
}
.customInst:hover{
	background-color:black;
	color:white;
}
.variation{
	margin-bottom:10px;
}
.variation label{
	float:left;
}
.addBeads{
}
.addBeads div.select2Buttons ul.select-buttons li:first-child{
	display:none;
}
.pogType_select label{
	float:left;
}
.prodPageQuant{
	margin-bottom: 10px !important;
    margin-top: -0px !important;
}
#appNav .prodDetailPrevItemButton{
	top: 30px;
	left: -42px;
}
#appNav .prodDetailNextItemButton{
	top: 30px;
}
div.atclear{
	clear:none;
}
.prodSummaryContainer div div.priceContainer{
    float: left;
	width: 530px;
	margin-top: 0;
}
#prodlistChildren{
}
.latency{
	float:left;
}
.socialLinks{
	height: 30px;
    width: 500px;
	float:left;
}
#socialLinks{
}
.prodContent{
	float: left;
    margin-left: 15px;
    width: 470px;
}

.catNAMenu{
	position:relative;
}
.linkboxNA{
}
.dropdown{
	position:absolute;
	background-color: #FFFFFF;
	box-shadow: 0 4px 3px 0 #999999;
	z-index: 10001;
	height:0;
	overflow:hidden;
	width:115px;
}
.subcatDropdown{
	position:absolute;
	background-color: #FFFFFF;
	box-shadow: 0 4px 3px 0 #999999;
	z-index: 10001;
	height:0;
	left:113px;
	overflow:hidden;
	width:100px;
	top:0;
}
.dropdownList{
	width:120px;
}
.dropdownSubcatList{
	width:100%;
}
.dropdownSubcatList li{
	list-style:disc;
	width:100%;
	margin-bottom:8px;
}
.headerDropdownLink {
	border-right:none !important;
	position:relative;
	clear:left;
	float:left;
}
.headerDropdownLink:hover{
	background-color:#04b5cb;
	color:white;
}
.subcatDropdown{
}
.dropdownLinkSizing{
	width:100%;
	margin-top:8px;
}
.quickviewDescriptionCont{
	clear:left;
}
.quickviewDescriptionCont p b{
	float:left;
}
.quickviewDescriptionCont p img{
}
.quickviewDetailsButton{
	background-color: #4D3420;
    border: 1px solid #4D3420;
    border-radius: 5px 5px 5px 5px;
    clear: left;
    color: white;
    float: left;
    font-family: Segoe UI,Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none !important;
}
.quickviewDetailsButton:hover{
	background-color: #04B5CB;
	color: #4D3420;
	border: 1px solid #4D3420;
}

#contactForm{
	float:right;
}
.contactUsBottomCustomNote{
	float: left;
    margin-left: 10px;
    width: 440px;
}
.contactUsBottomCustomNote p{
	color:#ff0000;
}
.contactUsBottomCustomNote p span{
	font-weight:bold;
}
.contactUsBottomCustomNote h4{
	font-weight:500;
}
.contactUsBottomCustomNote h4 span{
	font-weight:bold;
}

